{% extends "pages/richtextpage.html" %}

<!-- header -->
{% block header %}
<div class="container-fluid">
    <div class="row">
        <header class="col-xs-12 static_header bg_header_about">
            <h1>
                <span class="sectionTitle">Chi<br> </span>sono
            </h1>
        </header>

    </div>

</div>
{% endblock header %}
<!-- end header -->
