{% extends "pages/form.html" %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <header class="col-xs-12 static_header bg_header_contact">
            <h1 class="title_contact">
                Contattami
            </h1>
        </header>
    </div>
</div>
{% endblock header %}

