{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}
 <div class="row">
   <div class="col-xs-12 container_centered">

       {% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filters|safe }}
{% endeditable %}
   </div>
   </div>


{% endblock %}
