{% extends "base.html" %}
{% load static i18n mezzanine_tags blog_tags keyword_tags disqus_tags karimblog%}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}





{% block main %}
    <div class="row">
        <div class="col-xs-12 col-md-8 ">
            <!--posts list-->
            {% if tag or category or year or month or author %}
                {% block blog_post_list_filterinfo %}
                    <p>
                    {% if tag %}
                        {% trans "Viewing posts tagged" %} {{ tag }}
                        {% else %}{% if category %}

                            {% trans "Viewing posts for the category" %} {{ category }}

                            {% else %}{% if year or month %}
                                {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                                {{ year }}
                                {% else %}{% if author %}
                                    {% trans "Viewing posts by" %}
                                    {{ author.get_full_name|default:author.username }}
                                {% endif %}{% endif %}{% endif %}{% endif %}
                {% endblock %}
            </p>
            {% else %}
                {% if page %}
                    {% block blog_post_list_pagecontent %}
                        {% if page.get_content_model.content %}
                            {% editable page.get_content_model.content %}
                                {{ page.get_content_model.content|richtext_filters|safe }}
                            {% endeditable %}
                        {% endif %}
                    {% endblock %}
                {% endif %}
            {% endif %}

            {% for blog_post in blog_posts.object_list %}
                {% block blog_post_list_post_title %}
                    {% editable blog_post.title %}
                        <h2>
                            <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                        </h2>
                    {% endeditable %}
                {% endblock %}
                {% block blog_post_list_post_metainfo %}
                    {% include 'blog/includes/post_meta_author_data.html' %}
                {% endblock %}

                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                    {% block blog_post_list_post_featured_image %}
                        <a href="{{ blog_post.get_absolute_url }}">
                            <img class="img-thumbnail pull-left"
                                 src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
                        </a>
                    {% endblock %}
                {% endif %}

                {% block blog_post_list_post_content %}
                    {% editable blog_post.content %}
                        {{ blog_post.description_from_content|safe }}
                    {% endeditable %}
                {% endblock %}

                {% block blog_post_list_post_links %}

                    <div class="blog-list-detail">
                        {% keywords_for blog_post as tags %}
                        {% if tags %}
                            <ul class="list-inline tags">
                                {% comment %} {% trans "Tags" %}: {% endcomment %}
                                {% spaceless %}
                                    {% for tag in tags %}
                                        <li><a href="{% url "blog_post_list_tag" tag.slug %}" class="tag"><i
                                                class="fa fa-tag" aria-hidden="true"></i> {{ tag }}</a>
                                            {% if not forloop.last %} {% endif %}</li>
                                    {% endfor %}
                                {% endspaceless %}
                            </ul>
                        {% endif %}
                        <h6>
                        <img src="{% static "karimblog/images/hand.png" %}" >
                            <a href="{{ blog_post.get_absolute_url }}">
                                {% trans "read more..." %}</a>&nbsp;&nbsp;
                            {% if blog_post.allow_comments %}
                                <img src="{% static "karimblog/images/balloon.png" %}" >
                                {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                                    <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                                       data-disqus-identifier="{% disqus_id_for blog_post %}">
                                        {% trans "Comments" %}
                                    </a>
                                {% else %}
                                    <a href="{{ blog_post.get_absolute_url }}#comments">
                                        {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                                    </a>
                                {% endif %}
                            {% endif %}
                         {# see bison.js | according to the display resolution, in the #separator there is a space or a breaking row#}
                    &nbsp;<span class="separator"></span>
                    {% with blog_post.categories.all as categories %}
                        {% if categories %}
                           <img src="{% static "karimblog/images/category.png" %}" >{% trans 'Categories: ' %}
                            {% comment %}{% trans "in" %}{% endcomment %}
                            {% for category in categories %}

                                <a href="{% url "blog_post_list_category" category.slug %}"
                                   class="">{{ category }}</a>
                                {% if not forloop.last %}<!--,--> {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                        </h6>
                    </div>
                {% endblock %}
            {% endfor %}

            {% pagination_for blog_posts %}

            {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                {% include "generic/includes/disqus_counts.html" %}
            {% endif %}


            <!--end posts list-->
        </div>
        <!-- sidebar blog-->
        <div class="col-xs-12 col-md-4 ">


            {% comment %}
                {% nevercache %}
                    {% include "includes/language_selector.html" %}
                    {% include "includes/user_panel.html" %}
                {% endnevercache %}
            {% endcomment %}
            <!--<div class="panel panel-default">
                <div class="panel-body">-->
            {% include "blog/includes/filter_panel.html" %}

        </div>
        <!-- end sidebar blog-->

    </div>

{% endblock %}
