{% load mezzanine_tags i18n %}
<form action="{% url "search" %}" class="navbar-form" role="search">

    <div class="form-group float_left">
        <input class="form-control " placeholder="{% trans "Search" %}" type="text" name="q"
               value="{{ request.GET.q }}">
    </div>


    {% if search_model_choices %}
    {% if search_model_choices|length == 1 %}
    <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">

    {% comment %}
    {# code for searching in every page #}
    {% else %}


    <div class="form-group">
        <select class="form-control" name="type">
            <option value="">{% trans "Everything" %}</option>
            {% for verbose_name, model in search_model_choices %}
                <option value="{{ model }}"
                        {% if model == request.GET.type %}selected{% endif %}>
                    {{ verbose_name }}
                </option>
            {% endfor %}
        </select>
    </div>
    {% endcomment %}
    {% endif %}

    {% endif %}

    {# <input type="submit" class="btn btn-default" value="{% trans "Go" %}"> #}
    <button type="submit" class="btn btn-default search_button" value=""><i class="fa fa-search" aria-hidden="true"></i>
</button>

</form>
