@import "variables.less";

body {
  padding: 0px;
  margin-top: 50px;
  background-color: white;
  position: absolute; /*required for the footer.*/
  top: 0;
  bottom: 0;
  color: @color_text;
  font-family: @font2;
  font-size: 1.7rem;
  font-weight: 400;
}

.no_margins {
  padding: 0px;
  margin: 0px;
}

.no_padding{
  padding: 0px;
}

h2 > a, h2 > a:hover, h2 > a:focus {
  color: @main_color;
  font-family: @font1;
  font-size: 3.5rem;
  font-weight: 700;
}

h2 > a {
  text-decoration: none;
}

h6 , .share{
  color: @color_text_publishedBy;
  font-family: @font2;
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
}

h3 {
  font-family: @font1;
  font-weight: 700;
}

h4 {
  font-family: @font1;
  font-weight: 700;
}

a {
  color: @color_text;
  text-decoration: underline;
}


hr{
  border-top: 1px dashed #CCCCCC;
border-bottom:0px;}
/*----------------- NAVBAR --------------------------*/
.navbar {
  box-shadow: 0px 5px 10px #888;
  background: @main_color;
}

.navbar-header {
  height: 57px; /*the logo is taller than navbar. this fix the max height*/
}

.navbar-default {
  background-color: @main_color;
  border-color: @main_color;
  margin: 0px;
  border-width: 0px;
  padding-top: 0rem;
  padding-right: 3em;
  padding-bottom: 0rem;
  padding-left: 3em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: @main_color;
  background-color: @second_color;
  background: @second_color;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: @main_color;
  background-color: @second_color;
  text-decoration: none;

}

.navbar-default .navbar-nav > li > a, .dropdown-menu {
  font-family: @font1;
  color: @second_color;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
}

.navbar-default .navbar-toggle {
  border-color: white;
  border: none;
  text-decoration: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: @main_color;
  text-decoration: none;
}

.navbar-default .navbar-toggle:focus .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: @second_color;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  /*fix. the vertical logo needs a margin-bottom. bootstrap has a default border-bottom.
  to create this margin, i use the border*/
  border-color: transparent;
  border-width: 50px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: @second_color;
  background-color: @main_color;
  background: @main_color;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: @second_color;
  text-decoration: none;

}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: @main_color;
  background-color: @second_color;
  text-decoration: none;
}

.dropdown-menu {
  background-color: @main_color;
}

/*---------------------- HEADER -------------------------*/
.static_header {
  width: 100vw; /*100% viewport width */
  height: 330px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 120px;
  margin-bottom: 20px;
}

.bg_header_about {
  background-image: url("../images/header_chi-sono-xs.jpg");
}

.bg_header_general, .header_expat {
  background-image: url("../images/header_blog_expat-xs.jpg");
}

.bg_header_contact {
  background-image: url("../images/header_contattami-xs.jpg");
}

.header_australia {
  background-image: url("../images/header_australia-xs.jpg");
}

.header_lituania {
  background-image: url("../images/header_lituania-xs.jpg");
}

h1 {
  font-family: @font3;
  font-size: 10rem;
  color: white;
  text-shadow: 0px 0px 10px #000;
  line-height: 6rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0px;

}

.sectionTitle {
  font-size: 6rem;
}

.title_contact {
  font-size: 8rem;
}


/*-----------generic button---------------------------------*/

.btn-primary:hover, .btn-primary:focus {
    background-color: @main_color;
  background-image: none;
}
.btn-primary{
  border-radius: 0px;
  border-color:@main_color;
  border-width:1px;
  color:@color_text;
  font-family: @font2;
  background-color: white;
   background-image: none;
}

/*----------------------searchbar-----------------------------*/

.float_left{float:left;}
.search_button,.search_button:hover, .search_button:focus{float:left;
margin-left:-40px;
background-color: transparent;
background-image: none;
border:0px;}

.navbar-form{padding-bottom: 20px;}

.form-group > input[type="text"]{padding:6px 40px 6px 6px;}

/*removing shadow button*/
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, 0);
}
/*--------------------- CONTENT-------------------------*/

.content_container {
  margin: 0px;
}

.container_centered {
  max-width: 800px;
  padding: 40px;
  float: none;
  margin: 0 auto;

}

h2 {
  font-family: @font1;
  font-size: 4rem;
  font-weight: 600;
  color: @main_color;
}

.tag {
  background: #e7e7e7;
  padding: 8px;
  border-radius: 6px;
}

.share-twitter, .share-facebook, .like {
  margin: 3px;
  padding: 10px;
  border: 0px;
  font-family: @font1;
  border-radius: 0px;
  text-decoration: none;
  font-size: 1.3rem;

}
.share-twitter:hover,.share-twitter:focus{
  background-color: #69d8f1;
}
.share-facebook:hover,.share-facebook:focus{
  background-color: #4e83bd;
}
.like{
  background-color: #dadada;
font-size: 1.6rem;
padding: 8px;
}

.comment-author {
  background-color: white;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px;
}

.button_reply, .button_like {
  background-color: white;
  color: @main_color;
  border: 1px solid @color_text_publishedBy;
  border-radius: 0px;
  padding: 10px;
}

.button_reply:hover, .button_like {
  background-color: white;
  color: @third_color;
  border: 1px solid @main_color;

}

.pager li > a, .pager li > span, .pager li > a:hover {
  display: inline-block;
  padding: 10px 14px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0px;
  text-decoration: none;
}

.form-actions {
  background-color: white;
  border-top: 0px solid #E7E7E7;
  padding: 0px;

  margin-bottom: 0px;

}

.post-meta {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 1.6rem;
}
h6 > a, .post-meta>a {
    color: #b9b9b9;;
}
.post-meta >a:hover,.post-meta > a:focus {
    color: @a_hover;
    
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: @main_color;
  border-color: @second_color;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: @main_color;
  background-color: @second_color;
  border-color: #ddd;
}

.pagination > li > a {
  color: @color_text;
}

.pagination > li > a, .pagination > li > span {

  color: @color_text;

}

.align_left {
  text-align: left;
}

.pager li > a:hover, .pager li > a:focus, .pager li > a {
  text-decoration: none;
  background-color: white;
  border: 0px solid #ddd;
}

.pager {
  text-align: left;

}

.pager .next > a, .pager .next > span {
  float: left;
}

.line-height_next-prev {
  line-height: 0.1rem
}

.widget-content{
  padding-left: 12px;
}

.separator{
  /*used in bison.js. when the display is small, the js breaks the line*/
}
/*------------------------accordion side bar----------*/
.panel_years{
  margin-bottom: -10px;
}
button.accordion {

background-color: transparent;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Style the accordion panel. Note: hidden by default */
div.panel {
       padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  border:0px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
div.panel>ul {
  padding-left:14px;
}
.accordion>h6{
  text-decoration: underline;
}
/* -------------------- footer ------------------------ */

footer {
  font-size: 1.3rem;
  color: white;
  background-color: #383838;
  padding: 15px 0px 15px 0px;
  position: static;
  bottom: 0;
  line-height: 1.8rem;
}

#footer_social_bar > img {
  padding: 10px 3px 10px 0px;

}

.contact_footer > a, .contact_footer > a:hover, .contact_footer > a:focus, .contact_footer > a:active {
  color: white;
}

.social_footer > ul > li {
  display:inline;
  background-size: 90px;
  text-decoration: none;

  padding-right:18px;
  border-radius: 50%;
}

.social_footer > ul > li>a{
color:white;
padding-top:6px;
}

.facebook_footer:hover, .facebook_footer:focus{
 color:#4e6abd;
}
.twitter_footer:hover, .twitter_footer:focus{
 color:#60d6fa;
}
.linkedin_footer:hover, .linkedin_footer:focus{
 color:#2292c7;
}
.rss_footer:hover, .rss_footer:focus{
 color:#fe7940;
}

.copyright {
  padding: 10px;

  text-align: center;
}

.copyright > a {
  color: white;
  line-height: 6px;
}

.container_footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.copyright_author {
  text-align: center;
}

.site-info > a {
  color: white;
}

/* --------------------MEDIA QUERY -----------------------*/

/*smallest devices, default*/
@media screen and (max-width: 479px) {

  .pictures_about {
    display: none;
  }

}

/*generic mobile*/
@media screen and (min-width: 480px) {

}

/* generic Tablets, desktop */
@media screen and (min-width: 768px) {

  .static_header {
    height: 536px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: @second_color;
    background-color: @main_color;
    border-bottom: @second_color solid 7px;
  }

  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: @second_color;
    background-color: @main_color;
    border-bottom: @second_color solid 0px;
  }

  .bg_header_general, .header_expat {
    background-image: url("../images/header_blog_expat.jpg");
  }

  .bg_header_about {
    background-image: url("../images/header_chi-sono.jpg");
  }

  .bg_header_contact {
    background-image: url("../images/header_contattami.jpg");
  }

  .header_australia {
    background-image: url("../images/header_australia.jpg");
  }

  .header_lituania {
    background-image: url("../images/header_lituania.jpg");
  }

  h1 {

    font-size: 15rem;
    line-height: 10rem;
  }

  .title_contact {
    font-size: 15rem;
  }

  .sectionTitle {
    font-size: 8rem;
  }

  .sidebar_blog {
    border-radius: 0px 9px 9px 0px;
  }

  .posts_list {
    border-radius: 9px 0px 9px 9px;
  }

  

  #footer_social_bar {
    text-align: center;
  }

  .copyright_author {
    text-align: right;
  }
.navbar-form{padding-left:0px;}
}

/*---------------------------*/
.bottom_post {
  background-color: #ebebeb;
  padding: 15px;
  margin: 0px;
}

.content_post {
  background-color: blue;
}

