@font1: 'Ubuntu', sans-serif;
@font2:'Lora', serif;
@font3:'Shadows Into Light', cursive;

@main_color: #2f2f2f; /*dark grey*/
@second_color: white; 
@third_color:#434343; /*lighter grey*/
@color_text_publishedBy:#b9b9b9; /*grey light*/
@color_text: #6f6f6f;

@a_hover:#2a6496;

/*@font1:'Roboto Condensed', sans-serif;*/


