{% extends "base.html" %}

{% block main %}
	<div >
		<div>
			{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
				<div>
					<div>
						<h3>{{ year }}</h3>
					</div>
				</div>
				{% for month, articles in date_year|groupby('date.month') %}
					{% for article in articles %}
					<div>
						<div>
							<h5>{{ article.date.strftime('%b %d') }}</h5>
						</div>
						<div>
							<h5><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% set pagetitle = 'Archives' %}
