{% extends "base.html" %}
{% block meta_title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block meta_description %}{{ article.description }}{% endblock %}

{# TODO: maybe keywords? #}
{% block head %}
    {% for tag in article.tags %}
        <meta name="tags" content="{{ tag }}"/>
    {% endfor %}
{% endblock %}

{# TODO: add breadcrumb menu #}
{#{% block breadcrumb_menu %}#}
{#    {{ block.super }}#}
{#    <li class="active">{{ blog_post.title }}</li>#}
{#{% endblock %}#}
{##}

<!--the class has this values: header-australia, header_lituania and header_expat
{% block header_class %}
{% set category = article.category %}
header_{{ category|lower }}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <h2>{{ article.title }}</h2>
            {% include 'includes/post_meta_author_data.html' %}
            <p>
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <a href="{{ article.url }}#disqus_thread"> Comments </a>
            </p>

{#TODO: here the post images if is enabled            #}
{#            {% block blog_post_detail_featured_image %}#}
{#                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}#}

    {#                    <p><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}">#}
{#                    </p>#}
{#                {% endif %}#}
{#            {% endblock %}#}

{##}
{#            {% if settings.COMMENTS_DISQUS_SHORTNAME %}#}
{#                {% include "generic/includes/disqus_counts.html" %}#}
{#            {% endif %}#}
{##}

              {{ article.content }}
                {% if article.tags %}
                        <br>
                        <ul class="list-inline tags">
                            <li>Tags:</li>
                            {% for tag in article.tags %}
                                <li><a href="tag.url" class="tag">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                {% endif %}

                    <h6>
                        <img src="/static/images/category.png">
                        Categoria:
                            <a href="{{ article.category.url }}blog_post_list_category" category
                            .slug %}"
                               class="">{{ category }}</a>
                    </h6>
                <br>
                <hr>

                {% include "includes/disqus.html" %}

{#TODO: Convert for pelican  #}
{#            {% block blog_post_detail_related_posts %}#}
{#                {% if related_posts %}#}
{#                    <div id="related-posts">#}
{#                        <h3>{% trans 'Related posts' %}</h3>#}
{#                        <ul class="list-unstyled">#}
{#                            {% for post in related_posts %}#}

    {#                                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endblock %}#}

{# TODO: fix the share links #}
            <span class="share">Condividi:</span>
            <a class="btn btn-sm share-twitter" target="_blank"
               href="https://twitter.com/intent/tweet?url={{ SITEURL }}/{{ article.url }}&amp;
               text={{article.title }} "> <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
                Twitter
            </a>
            <a class="btn btn-sm share-facebook" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}">
                <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
                Facebook
            </a>
            <a class="btn btn-sm like" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}">
                <i class="fa fa-heart " aria-hidden="true"></i>&nbsp;</a>
            <hr>

{#  TODO: add other articles #}
{#            {% block blog_post_previous_next %}#}
{##}
{#                <div class="row">#}
{#                    <div class="col-xs-6">#}
{#                        {% with blog_post.get_previous_by_publish_date as previous %}#}
{#                            {% if previous %}#}

    {#                                <a href="{{ previous.get_absolute_url }}"><i class="fa fa-arrow-left"#}

    {#                                                                             aria-hidden="true"></i>&nbsp;{% trans 'Prev post' %}#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        {% endwith %}#}
{#                    </div>#}
{#                    <div class="col-xs-6" style="text-align:right;">#}
{#                        {% with blog_post.get_next_by_publish_date as next %}#}
{#                            {% if next %}#}

    {#                                <a href="{{ next.get_absolute_url }}">{% trans 'Next post' %}&nbsp;<i#}
{#                                        class="fa fa-arrow-right " aria-hidden="true"></i> </a>#}
{#                            {% endif %}#}
{#                        {% endwith %}#}
{#                    </div>#}
{#                </div>#}
{#            {% endblock %}#}
{#            <hr>#}
{##}
{#  TODO: want to add the like? or the clap? #}
{#            <button class="button_like"><img src="/static/images/like.png">Like</button>#}
{#            <hr>#}
{#            <!-- end post-->#}
        </div>

    <!-- <div class="col-xs-12 col-md-4 ">
        {% include "sidebar/article.html" %}
    </div> -->

    </div>
{% endblock %}
