<!doctype html>
<html lang="it"> {# TODO: add language #}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <title>{% block meta_title %}Karim Blog {% endblock %}</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {# TODO
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    #}

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="/static/vendors/bootstrap.css">

    <script src="/static/vendors/jquery-1.8.3.min.js"></script>
    <script src="/static/vendors/bootstrap.js"></script>
    <script src="/static/vendors/bootstrap-extras.js"></script>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <script src="https://use.fontawesome.com/1e563f0ba9.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body id="body">

<!-- open container navbar-->
<div class="container">
    <div class="row">
        <div clas="col-xs-12">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <div class="navbar-brand no_margins">
                        <a href="/"><img src="/static/images/logo_karim_blog.png" alt="KarimBlog logo"></a>
                    </div>
                </div>

                <div class="collapse navbar-collapse">
                    {% include "includes/dropdown.html" with context %}
                </div>

            </nav>
        </div>
    </div>
</div>
<!-- close container navbar-->


<!-- header -->
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <header class="col-xs-12 static_header bg_header_general {% block header_class %}{% endblock %}">
                <h1>
                    <span class="sectionTitle">karim<br> </span>Blog
                </h1>
            </header>

        </div>
    </div>
{% endblock %}
<!-- end header -->


<!-- content -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 content_container">
            {% block main %}
            {% endblock main %}
        </div>

    </div>
</div>

<div class="container">

    <div class="row">
    </div>

</div>

<footer>
    <div class="container-fluid">
        <div class="container container_footer">
            <div class="row">

                <div class="col-xs-12 col-sm-4 social_footer">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/karim.gorjux" target="_blank" class="facebook_footer">
                                <i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/kngorjux" target="_blank" class="twitter_footer">
                               <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/karimgorjux/" target="_blank" class="linkedin_footer">
                               <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            {# TODO: add RSS feed #}
                            <a href="" target="_blank" class="rss_footer"> <i class="fa fa-rss fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="copyright">

                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                            <img alt="Licenza Creative Commons" style="border-width:0"
                                 src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/></a>
                        <br/>
                        Quest'opera è distribuita con Licenza
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                            Creative Commons Attribuzione - Non commerciale - Non opere derivate 4.0 Internazionale
                        </a><br>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4 copyright_author">
                    © 2003 -2019 Karim N. Gorjux
                </div>
            </div>

        </div>


        <div class="row">
            <p class="site-info text-center">
                "Powered by"
                <a href="http://www.getpelican.com">Pelican</a>
                "and"
                <a href="http://www.python.org">Python</a>
                <span class="separator">|</span>
                "Theme by""Noris & Gorjux" (v1.0) 
            </p>
        </div>
    </div>
</footer>

{% block footer_js %}
{% endblock %}

<script src="/static/js/bison.js"></script>
</body>
</html>
