{% extends "base.html" %}
{#{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}#}

{#{% block meta_keywords %}{% metablock %}#}
{#    {% keywords_for page as keywords %}#}
{#    {% for keyword in keywords %}#}
{#        {% if not forloop.first %}, {% endif %}#}
{#        {{ keyword }}#}
{#    {% endfor %}#}
{#{% endmetablock %}{% endblock %}#}
{##}
{#{% block meta_description %}{% metablock %}#}
{#    {{ page.description }}#}
{#{% endmetablock %}{% endblock %}#}


{% block main %}
    <div class="row">
        <div class="col-xs-12 col-md-8 ">

            <!--posts list-->
            {% for article in articles_page.object_list %}
                    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                    {% include 'includes/post_meta_author_data.html' %}

{#                TODO: here is possible to include article images, but a thumbnails is needed#}
{#                {% if article.featured_image %}#}
{#                    {% block blog_post_list_post_featured_image %}#}
{#                        <a href="{{ blog_post.get_absolute_url }}">#}
{#                            <img class="img-thumbnail pull-left"#}
{#                                 src="{% thumbnail blog_post.featured_image 90 90 %}">#}
{#                        </a>#}
{#                    {% endblock %}#}
{#                {% endif %}#}

              {{ article.summary }}

                    <div class="blog-list-detail">
                        {% if article.tags %}
                            <ul class="list-inline tags">
                                Tags:
                                    {# TODO: fix the tag slug url #}
                                    {% for tag in article.tags %}
                                        <li><a href="{{ tag.url }}" class="tag"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }}</a></li>
                                    {% endfor %}
                            </ul>
                        {% endif %}

                        <h6>
                        <img src="static/images/hand.png" />
                        <a href="{{ article.slug }}">leggi l'articolo</a>&nbsp;&nbsp;
                        {% if DISQUS_SITENAME %}
                            <img src="static/images/balloon.png"><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">comments</a>.</p>{% endif %}
                         {# see bison.js | according to the display resolution, in the #separator there is a space or a breaking row#}

                        &nbsp;<span class="separator"></span>
                        <img src="static/images/category.png" >Categoria:
                            <a href="{{ SITEURL }}/{{ article.category.url}}" class="">{{ article.category }}</a>
                        </h6>
                    </div>
            {% endfor %}

            {% include "includes/pagination.html" %}


            <!--end posts list-->
        </div>
        <!-- sidebar blog-->
        <div class="col-xs-12 col-md-4 ">
            {% include "sidebar/index.html" %}
        </div>
        <!-- end sidebar blog-->

    </div>

{% endblock %}

{% block footer_js %}
    <script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
{% endblock %}
