{% extends "base.html" %}

{% block meta_title %}{{ SITENAME }} - {{ page.title }}{%endblock%}
{% block meta_description %}{{ page.description }}{% endblock %}


{% block header %}
    <div class="container-fluid">
        <div class="row">
            <header class="col-xs-12 static_header {{ page.headerclass }}">
                <h1>
                    <span class="sectionTitle">{{ page.firstlineheader }}<br></span>
                    {{ page.secondlineheader }}
                </h1>
            </header>

        </div>

    </div>
{% endblock header %}

{% block main %}
    {{ page.content }}

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
{% endblock %}