{% extends "sidebar/base.html" %}


{% block bottom_sidebar %}
<br>
    <h3>Recent Posts</h3>
        <div class="widget-content">
            <ul class="list-unstyled recent-posts ">
                <li><a href="#">PostTitle1</a></li>
                <li><a href="#">PostTitle2</a></li>
                <li><a href="#">PostTitle3</a></li>
            </ul>
        </div>
    <hr>

    <h3>Archivio</h3>
        <div class="widget-content">
            <button class="accordion"><h6>2019</h6></button>
            <div class="panel panel_years">
                <ul class="list-unstyled">
                    <li><a href="#">Gennaio</a>(XX)</li>
                    <li><a href="#">Febbraio</a>(XX)</li>
                    <li><a href="#">Marzo</a>(XX)</li>
                </ul>
            </div>
            <button class="accordion"><h6>2018</h6></button>
            <div class="panel panel_years">
                <ul class="list-unstyled">
                    <li><a href="#">Gennaio</a>(XX)</li>
                    <li><a href="#">Febbraio</a>(XX)</li>
                    <li><a href="#">Marzo</a>(XX)</li>
                </ul>
            </div>
        </div>
    <hr>
    {% include "includes/disqus.html" %}}
{% endblock %}
{#{% block blog_categories %}#}
{#    {% blog_categories as categories %}#}
{#    {% if categories %}#}
{#        <h3>{% trans "Categories" %}</h3>#}
{#        <div class="widget-content">#}
{#            <ul class="list-unstyled">#}
{#                {% for category in categories %}#}
{#                    <li><a href="{% url "blog_post_list_category" category.slug %}"#}
{#                    >{{ category }}</a> ({{ category.post_count }})#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}

{#{% block blog_keywords %}#}
{#    {% keywords_for blog.blogpost as tags %}#}
{#    {% if tags %}#}
{#        <h3>{% trans "Tags" %}</h3>#}
{#        <ul class="list-inline tag-cloud">#}
{#            {% for tag in tags %}#}
{#                <li>#}
{#                    <a href="{% url "blog_post_list_tag" tag.slug %}"#}
{#                       class="tag-weight-{{ tag.weight }}">{{ tag }}</a>#}
{#                    ({{ tag.item_count }})#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#{% endblock %}#}

{#{% comment %}#}
{#    {% block blog_authors %}#}
{#        {% blog_authors as authors %}#}
{#        {% if authors %}#}
{#            <h3>{% trans "Authors" %}</h3>#}
{#            <ul class="list-unstyled">#}
{#                {% for author in authors %}#}
{#                    <li><a href="{% url "blog_post_list_author" author.username %}"#}
{#                    >{{ author.get_full_name|default:author.username }}</a>#}
{#                        ({{ author.post_count }})#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    {% endblock %}#}
{#{% endcomment %}#}

{#{% comment %}#}
{#    {% block blog_feeds %}#}
{#        <h3>{% trans "Feed" %}</h3>#}
{#        {% if tag %}#}
{#            <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /#}
{#            <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>#}
{#        {% endif %}#}
{#        {% if category %}#}
{#            <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /#}
{#            <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>#}
{#        {% endif %}#}
{#        {% if author %}#}
{#            <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /#}
{#            <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>#}
{#        {% endif %}#}
{##}
{#        {% if not tag and not category and not author %}#}
{#            <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /#}
{#            <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>#}
{#        {% endif %}#}
{##}
{##}
{#    {% endblock %}#}
{#{% endcomment %}#}