
{% block top_sidebar %}
{% endblock %}
<div class="col_searchbar">
    <form id="search" action="#"
        onsubmit="javascript:window.open('https://duckduckgo.com/?q='+document.getElementById('keywords').value+'+site:{{ SITEURL }}');">
        <input id="keywords" type="text" />
    </form>
</div>
<br>
<h3>Articoli: {{ articles|count }}</h3>
<div class="widget-content">
    <ul class="list-unstyled recent-posts ">
        {% for cat, articles in categories %}
            <li><a href="{{ cat.url }}">{{ cat.name|upper }} ({{ articles|count }})</a></li>
        {% endfor %}
    </ul>
</div>
<hr>
<h3>Archivio:</h3>
<div>
	{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
    <h5>{{ year }}</h5>
	        <ul>
			    {% for month, articles in date_year|groupby( 'date.month' )|sort(reverse=True) %}
                <li><a href="/{{ MONTH_ARCHIVE_SAVE_AS.format(date=articles[0].date) }}">{{ articles[0].date.strftime('%B') }} {{ year }} ({{ articles|count }})</a></li>
				{% endfor %}
		</ul>
			{% endfor %}
</div>

{% block bottom_sidebar %}
{% endblock %}
