<div class="panel">
    <h5>Monthly Archives</h5>
	    <ul class="side-nav">
			{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
			    {% for month, articles in date_year|groupby( 'date.month' )|sort(reverse=True) %}
                {# <li><a href="/{{ MONTH_ARCHIVE_SAVE_AS.format(date=articles[0].date) }}">{{ articles[0].date.strftime('%B') }} {{ year }} ({{ articles|count }})</a></li> #}
                <li><a href="#">{{ articles[0].date.strftime('%B') }} {{ year }} ({{ articles|count }})</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
</div>
