{% if DISQUS_SITENAME %}
<div id="disqus_thread"></div>
  {% if SITEURL %}
  <script>
    var disqus_config = function () {
    this.page.url = "{{ SITEURL }}/{{ article.url }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ article.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
  </script>
  {% endif %}
  <script>
  (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}