<div class="container-fluid">
    <div class="row">
        <header class="col-xs-12 static_header header_expat %}">
            <h1>
                <span class="sectionTitle">karim<br> </span>Blog
            </h1>
        </header>

    </div>
</div>