
{#<p class="paginator">#}
{#    Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}#}
{#    {% if articles_page.has_next() %}#}
{#        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>#}
{#    {% endif %}#}
{#</p>#}

    <ul class="pagination">

    {% if articles_page.has_previous() %}
        <li class="prev previous"> <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr;</a></li>
    {% endif %}

    <li class="page-info"><span>{{ articles_page.number }} of {{ articles_paginator.num_pages }}</span></li>

    {% if articles_page.has_next() %}
        <li class="next"><a href="{{ SITEURL }}/{{ articles_next_page.url }}">&rarr;</a></li>
    </ul>
    {% endif %}
