<h6 class="post-meta">
    {% for author in article.authors %}
        <img src="/static/images/user.png" alt="author">
        <a href=""> {{ author }}</a>
    {% endfor %}
    {# see bison.js | according to the display resolution, in the #separator there is a space or a breaking row #}
    <span class="separator"></span>
{#    <img src="static/images/calendar.png"  alt="calendar"> &nbsp;({{ article.date.strftime("%d %M %Y") }})#}
    <img src="/static/images/calendar.png"  alt="calendar"> &nbsp;{{ article.date.strftime("%a, %d %b %Y ") }}
    {#    &nbsp;({{ article.date |date:"D, d M Y" }})#}
</h6>
